services:
  portfolio_back:
    image: maengdok/portfolio_back:1.0.0
    container_name: maengdok_portfolio_back
    build:
      context: .
      dockerfile: docker/prod.Dockerfile
    environment:
      APP_ENV: prod
      APP_DEBUG: "0"
    volumes:
      - portfolio_uploads:/srv/app/public/uploads
    networks:
      - caddy
      - portfolio
      - postgresql
    restart: unless-stopped

volumes:
  portfolio_uploads:
    external: true
    name: portfolio_uploads

networks:
  caddy:
    external: true
  portfolio:
    external: true
  dcup:
    external: true
  postgresql:
    external: true
